*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

a{
    position: absolute;
    left: 95%;
    color: black;
    flex-direction: row;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    }